﻿
@{
    ViewData["Title"] = "Details";
    Layout = "_postLayout";
}
@using FA.JustBlog.Entity.Entities
@model Post
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/pic_two.JPG')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.ShortDescription</h2>
                    <span class="meta">
                        Posted by
                        on @Model.PostedOn
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Model.PostContent
            </div>
        </div>
    </div>
</article>

