﻿@{
    Layout = "_Layout";
}
@using FA.JustBlog.Entity.Entities
@model IEnumerable<Post>
<div class="container  px-4 px-lg-5">
    <div class="row">
        <div class="col-8">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <h1 class="post-title">All post!</h1>
                    <div class="post-preview">
                        @foreach (var item in Model)
                        {
                            <hr />
                            <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                                <h3 class="post-title">@item.Title</h3>
                            </a>
                            <p class="post-subtitle">
                                Posted by
                                on @item.PostedOn.ToString()
                            </p>
                            <p class="post-subtitle">@item.ShortDescription</p>
                            
                        }
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <p>Huy</p>
        </div>
    </div>
</div>
